VITE_SUPABASE_URL=https://lzuayzprqqmqhytjjmff.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6dWF5enBycXFtcWh5dGpqbWZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0NTkxNDMsImV4cCI6MjA3NzAzNTE0M30.O7rcgWF2bIC3WbqjQ3trMC62tbuJqwyJUSw4VWmpZ8U